.cardholder{
  height :100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: yellow;
}

.Card{
  width: 500px;
  height: 250px;
  background-color: red;
  border-radius: 8px;
  display: flex;
  align-items: center;
  font-size: large;
  font-weight: bold;
  justify-content: space-between;
  margin: 15px;
}

.lsetf-img{
  height: 80px;
  width: 80px;
  border-radius: 5px;
}

.btn{
  height: 50px;
  width: 90px;
  background-color: green;
  color: pink;
  border-radius: 5%;
  border: none;
}

.btn:hover{
  background-color: black;
  color: red;
  cursor: pointer;
  border: none;
}

.input{
  width: 1000px;
  height: 500px;
  background-color: blue;
  display: flex;
  border: none;
  border-radius: 15px;
  font-size: 28px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  cursor: text
}

.post{
  width: 120px;
  height: 80;
  border: none;
  border-radius: 20px;
  font-size: 30px;
  background-color: white;
  color: brown;
  cursor: pointer;
}
.pholder{
  height: 300px;
  width: 400px;
}